@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #323338;
  color: #ffffff;
  padding: 0px 25rem;
}

.personal {
  width: 100%;
  height: 100vh;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
}
.personal h1 {
  text-align: left;
  font-family: Bebas Neue, cursive;
  font-size: 122px;
  font-weight: bold;
}

.personal h2 {
  font-family: Bebas Neue, cursive;
  font-size: 48px;
  font-weight: bold;
}


.personal p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.personal .column {
  width: 50%;
  float: left;
}

.personal h2 {
  padding-top: 100px;
}
