@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.disc img {
    
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 350px;
    object-fit: cover;
  }
  .log {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: #7389d7;
    padding: 15px;
    width: 210px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  .sign {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    border: 2px  solid white;
    background-color: transparent;
    padding: 15px;
    width: 210px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }