/* imports Bebas Neue Font Family to the Webpage */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
* {
  /* styles for the entir document*/
  border: 0;
  padding: 0;
  margin: 0;

  font-family: "Bebas Neue", cursive;
}
a:hover {
  color: rgb(255, 221, 0);
}

a {
  text-decoration: none;
  color: white;
  transition: 2s;
}

body {
  background-color: #5865f2;
}

.hero {
  /* styles for entire section */
  width: 100%; /* Set the width to 100% of the parent container */
  display: flex; /* Enable flexbox for the hero section */
  align-items: left; /* Vertically center the content inside the hero section */
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: relative;
  z-index: 9999;
  margin-bottom: 90px;
}
.text h1 {
  position: relative;
  top: 80px;
}
.text p {
  position: relative;
  top: 90px;
}

.hero img {
  /* background image styles*/
  position: absolute;
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

#fg {
  /* styles for foreground image*/
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 30vw; /* Set a fixed width for the image */
  height: 40vh; /* Set a fixed height for the image */
  z-index: 100; /* Make sure the image appears on top of the other image */
}

#e {
  /* styles for espinach avatar*/
  position: absolute;
  bottom: 8.6%;
  right: 35.4%;
  width: 12.5vw; /* Set a fixed width for the image */
  height: 27.9vh; /* Set a fixed height for the image */
  transform: scale(0.73);
  z-index: 100;
  cursor: pointer;
}

#f {
  /* styles for pata avatar*/
  position: absolute;
  bottom: 17.8%;
  right: 29.5%;
  width: 15vw; /* Set a fixed width for the image */
  height: 40vh; /* Set a fixed height for the image */
  transform: scale(0.5);
  z-index: 100;
  cursor: pointer;
}

#a {
  /* styles for altonags avatar*/
  position: absolute;
  bottom: 17.6%;
  right: 22%;
  width: 12.5vw; /* Set a fixed width for the image */
  height: 30vh; /* Set a fixed height for the image */
  transform: scale(0.72);
  z-index: 100;
  cursor: pointer;
}

#arrowA {
  /* styles for altonags arrow*/
  position: absolute;
  bottom: 19.6%;
  right: 19%;
  width: 4vw; /* Set a fixed width for the image */
  height: 6vh; /* Set a fixed height for the image */

  transform: rotate(-630deg);

  z-index: 100;
}
#arrowP {
  /* styles for pata arrow */
  position: absolute;
  bottom: 17.6%;
  right: 46%;
  width: 4vw; /* Set a fixed width for the image */
  height: 6vh; /* Set a fixed height for the image */

  transform: rotate(230deg);

  z-index: 100;
}
#arrowE {
  /* styles for espinach arrow */
  position: absolute;
  bottom: 35.6%;
  right: 42%;
  width: 4vw; /* Set a fixed width for the image */
  height: 6vh; /* Set a fixed height for the image */

  transform: rotate(230deg);

  z-index: 100;
}
.hero h1 {
  /* styles for the title text */
  font-size: 120px; /* Set the font size to 48px */
  font-weight: 400;
  color: #fff;
  z-index: 1;
  margin-bottom: -10px;
}
.hero p {
  /* styles for the content under th  e title tag */
  font-size: 14px; /* Set the font size to 24px */
  color: #fff; /* Set the text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 300px;
}

.text {
  /* styles for the entire text section */
  z-index: 1;
  display: block;
  width: 830px;
  margin: auto;
}

.hero p {
  margin-bottom: 100px;
}
.preview-link {
  /* styles for the labels of th developers */
  color: white;
  position: absolute;
  text-decoration: none;
  top: 82%;
  left: 79%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  width: 4vw;
  height: 6vh;
  z-index: 100;
}
.preview-link:hover {
  color: rgb(255, 221, 0);
}
.preview-link1 {
  /* styles for the labels of the developers */
  color: white;
  position: absolute;
  text-decoration: none;
  top: 52%;
  left: 54%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  z-index: 100;
}
.preview-link1:hover {
  color: rgb(255, 221, 0);
}
.preview-link2 {
  /* styles for the labels of the developers*/
  color: white;
  position: absolute;
  text-decoration: none;
  top: 72%;
  left: 49%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  z-index: 100;
}
.preview-link2:hover {
  color: rgb(255, 221, 0);
}
.profiles {
  padding-top: 130px;
  margin: 0px 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}
.about-pic {
  width: 35%;
  padding-left: 15px;
  margin-right: 80px;
}
.about-pic img {
  width: 100%;
  margin-bottom: 100px;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: contain;
}

.about-pic2 {
  width: 35%;
  padding-right: 15px;
  margin-left: 80px;
}
.about-pic2 img {
  width: 100%;
  margin-bottom: 100px;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: contain;
}

.about-text {
  flex: 1;
  float: right;
  width: 35%;
  text-align: justify;
  margin-bottom: 70px;
  color: #fff;
  align-items: top;
  padding-bottom: 50px;
}

.about-text h1 {
  font-size: 50px;
}

.about-text h2 {
  color: #ffff;
  opacity: 0.78;
}
.about-text p {
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
}

.about-text2 {
  flex: 1;
  float: right;
  width: 35%;
  text-align: justify;
  margin-bottom: 70px;
  color: #fff;
  align-items: top;
  padding-bottom: 50px;
}

.about-text2 h1 {
  font-size: 50px;
}

.about-text2 h2 {
  color: rgb(255, 255, 255);
  opacity: 0.78;
}
.about-text2 p {
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
}

.about-pic:hover,
.about-pic2:hover img {
  transform: scale(1.05);
}

.underline {
  color: var(--color);
  text-decoration: none; /* remove default underline */
  position: relative; /* necessary for positioning the pseudo-element */
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 5px; /* position the pseudo-element just below the text */
  left: 0;
  right: 0;
  background-color: #459ff7; /* use the same color as the text */
  height: 2px; /* height of the underline */
  animation: blink 6s; /* animate the pseudo-element with a 1 second duration that repeats indefinitely */
}

.underline2 {
  color: var(--color);
  text-decoration: none; /* remove default underline */
  position: relative; /* necessary for positioning the pseudo-element */
}

.underline2::before {
  content: "";
  position: absolute;
  bottom: 5px; /* position the pseudo-element just below the text */
  left: 0;
  right: 0;
  background-color: #ff78b9; /* use the same color as the text */
  height: 2px; /* height of the underline */
  animation: blink 6s; /* animate the pseudo-element with a 1 second duration that repeats indefinitely */
}

.underline3 {
  color: var(--color);
  text-decoration: none; /* remove default underline */
  position: relative; /* necessary for positioning the pseudo-element */
}

.underline3::before {
  content: "";
  position: absolute;
  bottom: 5px; /* position the pseudo-element just below the text */
  left: 0;
  right: 0;
  background-color: #3ddb7f; /* use the same color as the text */
  height: 2px; /* height of the underline */
  animation: blink 6s; /* animates the pseudo-element with a 1 second duration that repeats indefinitely */
}

/* manually specifying the width of the underline per keyframe */
@keyframes blink {
  0% {
    width: 0;
  }
  55% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

.cloud {
  position: relative;
  height: 100%;
}

.cloud img {
  position: absolute;
  bottom: 750px;
  right: 79%;
  width: 20vw; /* Set a fixed width for the image */
  height: 30vh;
  z-index: 100;
}
.cloud #clou2 {
  position: absolute;
  bottom: 1000px;
  right: 2%;
  width: 20vw; /* Set a fixed width for the image */
  height: 30vh;
  z-index: 100;
}
.cloud #clou3 {
  position: absolute;
  bottom: -200%;
  right: 83%;
  width: 20vw; /* Set a fixed width for the image */
  height: 30vh; /* Set a fixed height for the image */
  z-index: 100;
}
.cloud #book {
  position: absolute;
  bottom: 700px;
  right: 10%;
  width: 8vw; /* Set a fixed width for the image */
  height: 10vh;
  z-index: 100;
}
.cloud #grr {
  position: absolute;
  bottom: -50px;
  right: 80%;
  width: 20vw; /* Set a fixed width for the image */
  height: 12vw;
  z-index: 100;
  object-fit: contain;
}
.cloud #star {
  position: absolute;
  bottom: 500px;
  right: 10%;
  width: 4vw; /* Set a fixed width for the image */
  height: 7vh;
  z-index: 100;
}
.cloud #star1 {
  position: absolute;
  bottom: 1200px;
  right: 90%;
  width: 4vw; /* Set a fixed width for the image */
  height: 7vh;
  z-index: 100;
}
